URxvt.font:xft:Operator Mono Light:pixelsize=18:hinting=true
URxvt.boldFont:xft:Operator Mono Light:pixelsize=18:hinting=true
URxvt.italicFont:xft:Operator Mono Light:pixelsize=18:hinting=true

URxvt.scrollBar:false

! Enables copy/paste with Ctrl-Shift-C/V
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.perl-ext-common: default,clipboard,font-size,resize-font
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
URxvt.keysym.C-S-Up:   perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal
URxvt.font-size.step: 2
URxvt*background: rgba:0300/0300/0600/b700

! Size of cursor
Xcursor.size: 32

URxvt.depth:32

! -- Pencil -------------------------------------------------------- {{{
!
!   A color scheme inspired by iA Writer
!   <https://github.com/reedes/vim-colors-pencil>
!
! }}}

! -- Colors -------------------------------------------------------- {{{

! special
*.foreground:   #d3d0c8
*.background:   #2d2d2d
*.cursorColor:  #d3d0c8

! black
*.color0:       #2d2d2d
*.color8:       #747369

! red
*.color1:       #f2777a
*.color9:       #f2777a

! green
*.color2:       #99cc99
*.color10:      #99cc99

! yellow
*.color3:       #ffcc66
*.color11:      #ffcc66

! blue
*.color4:       #6699cc
*.color12:      #6699cc

! magenta
*.color5:       #cc99cc
*.color13:      #cc99cc

! cyan
*.color6:       #66cccc
*.color14:      #66cccc

! white
*.color7:       #d3d0c8
*.color15:      #f2f0ec

! }}}

! vim:foldmethod=marker:filetype=xdefaults

Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 192
Xft.rgba: rgb
Xft.lcdfilter: lcddefault


rofi.color-window: argb:682d303b
rofi.color-normal: argb:a82d303b, #c4cbd4, argb:96404552, #4084d6, #f9f9f9
rofi.color-active: argb:a81d1f21, #65acff, argb:e44b5160, #4491ed, #f9f9f9
rofi.width: 35
rofi.lines: 8 
rofi.padding:60
rofi.separator-style:none
rofi.columns: 1
rofi.font: Operator Mono Light 16
rofi.bw: 0
rofi.eh: 1
!rofi.separator-style: solid
rofi.hide-scrollbar: true
